<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <!-- <script src="../js/View/loginView.js"></script> -->
</head>
<body>
    <div>
        <h1>Login</h1>
        <input type="text" placeholder="Email" id="email">
        <br><br>
        <input type="password" placeholder="Senha" id="senha">
        <br><br>
        <button id="btnLogin">Enviar</button>
    </div>
    <script type="module">
        // Importe a classe AuthController do seu módulo
        import AuthController from "../js/Controllers/firebase/AuthFirebaseController.js";

        const authController = new AuthController();

        document.getElementById("btnLogin").addEventListener("click", function() {
            authController.autenticarUsuario();
            console.log('Processando Login');
        });
    </script>
</body>
</html>