<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/register.css">
    <script src="../js/View/registerView.js"></script>
</head>
<body>
    <div>
        <h1>Registrar-se</h1>
        <input type="text" placeholder="Nome" id="nome">
        <br><br>
        <input type="text" placeholder="Email" id="email">
        <br><br>
        <input type="password" placeholder="Senha" id="senha">
        <br><br>
        <button id="btnRegister">Enviar</button>
    </div>
</body>
</html>